@import "tailwindcss";

@theme {
  --color-primary-blue: #3b82f6;
  --color-gray-bg: #f3f4f6;
  --color-white: #ffffff;
  --color-text-dark: #1f2937;
  --color-text-light: #6b7280;
  --color-todo-bg: #e0e7ff;
  --color-inprogress-bg: #fef3c7;
  --color-done-bg: #d1fae5;
  --color-border: #e5e7eb;
}

body {
  background-color: var(--color-gray-bg);
  color: var(--color-text-dark);
}
